.messageForm {
    width: 700px;
    height: 500px;
    position: absolute;
    left: 25%;
    top: 10%;
    background: gray;
    z-index: 1000000;
    opacity: .85;
    
}
textarea.messageFormtext {
    width: 90%;
    word-wrap: break-word;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10%;
    font-size: 25px;
  }