body {
    background: radial-gradient(circle at center, black 9%, white 10%) !important;
    width: 100%;
    background-color: #fff;
    background-size: 60px 50px !important;
    background-repeat: repeat !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
body.dark {
    background: radial-gradient(circle at center, white 9%, black 10%) !important;
    background-size: 60px 50px !important;
    background-color: #000 !important;
    color: white !important;
}
