body.home {
    background: radial-gradient(circle at center, black 9%, white 10%);
    width: 100%;
    background-color: #fff;
    background-size: 60px 50px;
    background-repeat: repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background: radial-gradient(circle at center, white 9%, black 10%);
    background-size: 60px 50px;
    background-color: #000;
}